<!-- Brand Logo -->
<a href="~Content/clients/index3.html" class="brand-link">
    <img src="~/Content/clients/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">TShop</span>
</a>